<h2 mat-dialog-title>Project form</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field class="full-width">
        <input matInput required placeholder="Project Name" formControlName="name">
    </mat-form-field>  
    
    <mat-form-field class="full-width">
        <textarea matInput required placeholder="Project description" formControlName="description"> 
        </textarea>
    </mat-form-field>

    <mat-form-field class="half-width">
            <input matInput required placeholder="Sprint Duration" formControlName="sprintDuration">
    </mat-form-field>
    
    <!-- <mat-form-field  class="half-width">
        <mat-label>Project status</mat-label>
        <select matNativeControl formControlName="projectStatus" value="{{project.projectStatus}}">
            <option value="0">To Do</option>
            <option value="1">In progress</option>
            <option value="2">Closed</option>
        </select>
    </mat-form-field> -->
    <mat-form-field class="half-width">
            <input id="startpicker" formControlName="startDate" matInput [matDatepicker]="startpicker" placeholder="Choose a start date" required>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="half-width">
        <input id="duepicker" formControlName="dueDate" matInput [matDatepicker]="duepicker" placeholder="Choose a due date" required>
        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
        <mat-datepicker #duepicker></mat-datepicker>
    </mat-form-field>    
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mr-2"
            (click)="close()">
        Close
    </button>
    <button class="mat-raised-button mat-primary"
            (click)="onSubmit()" type = "submit">
        Save
    </button>
</mat-dialog-actions>
