<div class="container">
    <h1 class="mat-display-1 mt-4 mb-4">My projects
        <button mat-raised-button color="primary" class="float-right" (click)="openProjectDialog()">
            <mat-icon>add</mat-icon>
            Add
        </button>
    </h1>
    <div class="row">
        <div class="col-md-3" *ngFor="let project of projects">
            <mat-card class="d-card mt-1 mb-1">
                <mat-card-title>{{project.name}}  </mat-card-title>
                <mat-card-subtitle>Duration:{{project.sprintDuration}} days</mat-card-subtitle>
                <mat-card-content>
                    <p>{{project.description}}</p>
                    <div fxLayout.gt-xs="row" fxLayout.xs="column">
                        <span fxFlex="50%">{{project.startDate}}</span>
                        <span fxFlex="50%">{{project.dueDate}}</span>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="primary" (click)="editProjectDialog(project)">
                        <mat-icon>mode_edit</mat-icon>
                        Edit
                    </button>
                    <!--<button mat-stroked-button color="accent">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>-->
                    <button mat-stroked-button color="accent" routerLink="/project/{{project.projectId}}">
                        <mat-icon>remove_red_eye</mat-icon>
                        View
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
