<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home">MidWesTen Bank</a>w
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/customer">Customers<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/account">Accounts<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Add Customer Form</span>
    </div>

    <div style="margin-top: 1em;"></div>

    <form id="addCustomerForm" method="post" action="/secured/customer/add" th:object="${customer}">
        <fieldset>
            <input type="hidden" name="customerId" th:value="${customer.customerId}"/>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="customerNumber">Customer Number</label>
                        <span th:if="${#fields.hasErrors('customerNumber')}" th:errors="*{customerNumber}"
                              class="alert alert-danger"></span>
                        <input id="customerNumber" name="customerNumber" type="number" class="form-control"
                               th:value="${customer.customerNumber}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="alert alert-danger"></span>
                        <input id="firstName" name="firstName" type="text" class="form-control"
                               th:value="${customer.firstName}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                              class="alert alert-danger"></span>
                        <input id="middleName" name="middleName" type="text" class="form-control"
                               th:value="${customer.middleName}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="alert alert-danger"></span>
                        <input id="lastName" name="lastName" type="text" class="form-control"
                               th:value="${customer.lastName}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailAddress">E-mail Address</label>
                        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
                              class="alert alert-danger"></span>
                        <input id="emailAddress" name="emailAddress" type="text" class="form-control"
                               th:value="${customer.emailAddress}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contactPhoneNumber">Contact Number</label>
                        <span th:if="${#fields.hasErrors('contactPhoneNumber')}" th:errors="*{contactPhoneNumber}"
                              class="alert alert-danger"></span>
                        <input id="contactPhoneNumber" name="contactPhoneNumber" type="text" class="form-control"
                               th:value="${customer.contactPhoneNumber}" placeholder="(000) 000-0000"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateOfBirth">Date Of Birth</label>
                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                              class="alert alert-danger"></span>
                        <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control"
                               th:value="${customer.dateOfBirth}"/>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" style="float: right;" type="submit">Save Customer</button>
        </fieldset>
    </form>
</div>
</body>
</html>